<div class="example-container">
  <cp-menu>
    <cp-menu-label>General</cp-menu-label>
    <cp-menu-list>
      <cp-menu-item>
        <a routerLink="/reference/menu" routerLinkActive="is-active">Menu Item 1</a>
        <cp-menu-list>
          <cp-menu-item><a routerLink="/reference/menu" routerLinkActive="is-active">Sub Menu Item 1</a></cp-menu-item>
          <cp-menu-item><a routerLink="/reference/menu2" routerLinkActive="is-active">Sub Menu Item 2</a></cp-menu-item>
        </cp-menu-list>
      </cp-menu-item>
      <cp-menu-item>
        <a routerLink="/reference/menu2" routerLinkActive="is-active">Menu Item 1</a>
      </cp-menu-item>
      <cp-menu-item>
        <a routerLink="/reference/menu3" routerLinkActive="is-active">Menu Item 1</a>
      </cp-menu-item>
    </cp-menu-list>
  </cp-menu>
</div>
