/*
 * Default app layout
 */

.app-header {
  z-index: 200;
}
.app-nav {
  z-index: 100;
}

.app-content {
  height: calc(100vh - 52px);
}


/*
 * Fixed sidebar
 */

.app.fixed-sidebar {
  .app-nav,
  .app-content {
    height: 100vh;
  }

  .app-content {
    height: calc(100vh - 52px);
    padding: 20px;
  }
}
